.menu{
    display: flex;
    justify-content: space-between;
    background-color:#0594f1;
    margin: 10px;
    padding: 0px;
    font-size: 20px;
    font-family: Bernard MT Condensed;
    font-weight: 400;
    color: #070707;
}
body{
    margin: 0px;
    /* modify background color here*/
    background-color:#8af1fc;
    
}
a{
    font-family: abadi;
    font-weight: 200;
    margin: 10px;
    color:#faf4f4;
}
h1{
    font-size: 300;
}
h2{    
    font-family: Amasis MT Pro ;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 50px;
    color:#041244;
}
h3{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    color:#152c81;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: #ffffff;
    /* modify margin and padding here*/
    padding: 30px;
    margin: 20px;
    width:310px;
    font-family: fantasy;
    
}
